doctype html
html(lang="es")
	head
		meta(charset="utf-8")
		meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1")
		title
			|	Parallax Vertical
		link(rel="stylesheet", type="text/css", href="css/estilos.css")
	body
		
		- var info = [{"id":"one","title":"Secci贸n 1","description":"Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae eius magni quasi similique nihil in molestias earum. Dignissimos, deserunt repellat consectetur reiciendis et labore. Officia temporibus accusantium non nihil fuga.","category":"animals"},{"id":"two","title":"Secci贸n 2","description":"Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae eius magni quasi similique nihil in molestias earum. Dignissimos, deserunt repellat consectetur reiciendis et labore. Officia temporibus accusantium non nihil fuga.","category":"city"},{"id":"three","title":"Secci贸n 3","description":"Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae eius magni quasi similique nihil in molestias earum. Dignissimos, deserunt repellat consectetur reiciendis et labore. Officia temporibus accusantium non nihil fuga.","category":"nature"},{"id":"four","title":"Secci贸n 4","description":"Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae eius magni quasi similique nihil in molestias earum. Dignissimos, deserunt repellat consectetur reiciendis et labore. Officia temporibus accusantium non nihil fuga.","category":"transport"}]		
		
		each data,index in info
			-var indice = index+1
			include ./components/Section/template.jade
		// smoosh
		script(type="text/javascript", src="js/app.js")
		// endsmoosh