.Section
	height 100%
	position relative
	text-align center
	color $white
	display flex
	justify-content center
	align-items center
	&-inner
		margin 0 auto
		max-width 85%
		
	&-title
		margin 0
		padding-top 10%
	&1
		background-color $green_turquesa
	&2
		background-color $green_cyan = #4696ae
	&3
		background-color $purple_blue = #3d439a
	&4
		background-color $dark_purple = #282587
		transition all 0.4s linear
		&.is-active
			background-color $indigo = 	#531f78
		
	&-image
		width 100%
		max-width 400px