@import "nib"
@import "normalize.styl"
@import url('http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,300,700')

$green_turquesa = #42ceca
$green_cyan = #4696ae
$purple_blue = #3d439a
$dark_purple = #282587
$indigo = 	#531f78
$white = #fff

html
	font-size 16px
	font-family 'Open Sans', sans-serif /* Fuente de google fonts */

body
html
	height 100%
	
/*
Estilos SECCIONES
*/

@import "../components/Section/estilos.styl"